html {
    height: 100%;
    min-height: 100%; /* 1, 3 */
    padding: 0;
    margin: 0;
}

.Site {
    padding: 0;
    margin: 0;
}

.Site-header {
	position: fixed;
	z-index: 5000;
	width: 100%;
    background: Cornsilk;
    padding: 10px;
    margin: 0;
}

.Site-footer {
    background: orange;
    padding: 0;
    margin: 0;
	position: fixed;
	z-index: 500;
	width: 100%;
	left: 0;
	bottom: 0;
	display: none;
}

.Site-content {
    margin: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
}

#fqbn {
    display: none;
}

#sidebar {
	width: -150px;
	right: 0;
	top: 120px;
	position: absolute;
	padding: 0;
	margin: 0;
	background: orange;
    z-index: 100;
	display: none;
}

#wavStrip {
	border: 0;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
}

.switch_text {
	font-size: 17px;
	font-family: Helvetica, Arial, Sans-Serif;
	color: gray;
    float: left;
    margin-top: 12px;
    margin-left: 10px;
    margin-right: 10px;

}

.logo {
    float: left;
    margin-left: 10px; 
    margin-right: 10px;
}

.button {
	background: #ffc600;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    padding: 14px 20px;
	color: black;
	font-size: 17px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
}
.red_button:hover {
}
.red_button:active {
}

.CodeMirror {
    height: 100%;
}

.maintab {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: none;
}

#audio_output {
    float: left;
    margin-top: 8px;
    margin-left: 4px;
}

.switch_container {
    float: left;
    margin: 0px 5px;
}

#code_editor {
	display: block;
}

.ExampleItem > a {
    font-size: 25px;
	font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
}

.ExampleItem {
    border-top: 1px solid #f79797;
    margin-top: 10px;
    vertical-align: middle;
    display: block;
    cursor: pointer;
}

.ExampleCategory {
    font-size: 25px;
	font-family: Helvetica, Arial, Sans-Serif;
    border-top: 1px solid #f79797;
    margin-top: 10px;
    vertical-align: middle;
    cursor: pointer;
}

/* ExampleItem groups */
.ExamplesList > ol > ul {
    padding: 3px;
}

.SketchList {
    border-top: 1px solid #f79797;
    margin-top: 10px;
    vertical-align: middle;
    display: block;
    cursor: pointer;

	font-size: 25px;
	font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
}

.SketchList > li {
	display: block;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 5px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@media only screen and (max-width: 574px) {
    .button_group {
        display:inline-block;
        clear: both;
        margin-top: 20px;
    }

}

@media only screen and (max-width: 320px) {
    .button {
        padding: 5px 10px;
    }
    .button_group {
        margin-top: 10px;
    }
    #audio_output {
        margin-top: 0px;
    }
    .switch_group {
        display: inline-block;
        margin-top: 5px;
    }
}

@media only screen and (max-width: 879px) {
    #audio_output {
        margin-top: 20px;
    }
    .switch_group {
        display: inline-block;
        margin-top: 10px;
    }
}